<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

      <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
          <div class="form-group">
            <label>Name</label>
            <input name="Name" #FullName="ngModel" [(ngModel)]="formData.Name" class="form-control" required>
            <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required.</div>
          </div>
          <div class="form-group">
              <label>Age</label>
              <input name="Age" #Age="ngModel" [(ngModel)]="formData.Age" class="form-control" required>
              <div class="validation-error" *ngIf="Age.invalid && Age.touched">This field is required.</div>
            </div>
            <div class="form-group">
                <label>Death Sum Insured</label>
                <input name="DeathSumInsured" #DeathSumInsured="ngModel" [(ngModel)]="formData.DeathSumInsured" class="form-control" required>
                <div class="validation-error" *ngIf="DeathSumInsured.invalid && DeathSumInsured.touched">This field is required.</div>
              </div>
              


            <div class="form-group" >
                <label>Choose an occupation to </label>
                <select  [disabled]="!(DeathSumInsured.invalid || Age.invalid || Name.invalid)" class="form-control" name="Occupation" [(ngModel)]="formData.Occupation" #Occupation="ngModel" (change)="onChange($event.target.value)"
                 required>
                  <option [ngValue]="null">---Choose an occupation---</option>
                  <option *ngFor="let occupationRating of occupationRatings" [value]="occupationRating.rating" >{{occupationRating.occupation}}</option>
                </select>
              
                <div *ngIf="Occupation.invalid && Occupation.touched">
                  <span style="color: red;">Please select an occupation.</span>
                </div>
              </div>
          
          
          
        </form>

   

  </div>
  <div class="col-md-3"></div>
</div>


</div>

<!-- Default form contact -->

